@import 'bootstrap';

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.breadcrumb {
    padding: 0.7rem;
    border-radius: .375rem;
    background: rgb(248, 249, 250);

    a {
        color: rgba(33, 37, 41, .75);
        text-decoration: none;
    }

    //.breadcrumb-item + .breadcrumb-item::before {
    //    content: ">";
    //}
}
